# [OPTION] Disabling creating the file “package-lock.json”:
# https://codeburst.io/disabling-package-lock-json-6be662f5b97d#947d
# https://docs.npmjs.com/cli/v11/using-npm/config#package-lock
#
# [DISABLING_REASON] I don’t need the file “package-lock.json”:
# 1. I need versions defined in my file “package.json”, I don’t need
# specific versions dependencies of dependencies.
# 2. Disabling “package-lock.json” increases the time of “npm install”.
package-lock=false
